.article_list{
    background-color: transparent;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

@media (min-width:724px) {
   .article_list{
    grid-template-columns: repeat(3, 1fr);
   }
    
}

@media (min-width:1024px) {
    .article_list{
     grid-template-columns: repeat(4, 1fr);
    }
     
 }
