.catalogue_item_card{
    width: 150px;
    box-sizing: border-box;
    margin-bottom: 20px;
    border-radius: 16px;
    box-shadow: 0 10px 20px 0 rgba(26, 28, 26, 0.5);
}
.catalogue_img{
    width: 100%;
    height: 110px;
    background-position: center;
    border-radius: 8px;
}

.item_card_content{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
}

.item_card_content h5{
    font-size: 14px;
    font-family: 'lora-regular';
}

.item_card_content p{
    font-size: 12px;
    font-family: 'poppins-regular';
    margin-top: 4px;
}

@media (min-width:724px) {
    .catalogue_item_card{
        width: 220px;
    }

    .catalogue_img{
        height: 180px;
    }
    
}