.catalogue_wrapper{
    background-color: #307672;
}
.catalogue_banner{
    height: 50vh;
    width: 100%;
    background-image: url(/images/catalogue/bg-banner.jpg);
    background-position:bottom;
    background-size:cover;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.catalogue_section{
    background-color:#307672;
    padding: 20px 20px;
    color: #ffff;
}

.catalogue_section h4{
    font-family: 'lora-bold';
    margin-top: 40px;
    margin-bottom: 40px;
}

.popular_catalogue{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50vh;
    overflow-y: scroll;
}

.all_catalogue{
    /* overflow-y: scroll; */
    margin-bottom: 40px;
}

@media (min-width:1024px) {
    .popular_catalogue{
        overflow-y: auto;
    }

    .all_catalogue{
        overflow-y: auto;
    }
}